<div class="jumbotron jumbotron-fluid pl-5 ">
  <h1 class="display-4 ">New Kitten</h1>
</div>
<div class="container">
  <%= render 'form' %>

  <%= link_to 'back', kittens_path, :class => "btn btn-outline-secondary"  %>
</div>